body {
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
    width: 100%;
    background-color: #eee;
    overflow-x: hidden;
    
  }

  a{
      color: inherit;
  }

  a:hover{
      text-decoration: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }


#sidebar-wrapper {
  height: 100vh;
  top: 0; /* Position the navbar at the top of the page */

  
  font-family: 'Roboto', sans-serif;
  font-size: 13px; 
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  width: 240px;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;

}

#sidebar-wrapper > ::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}
#sidebar-wrapper > ::-webkit-scrollbar-track {
  background: #292b2c;        /* color of the tracking area */
}
#sidebar-wrapper > ::-webkit-scrollbar-thumb {
  background-color: #777;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
/* creates padding around scroll thumb */
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

.sidebar-group{
  border-bottom:#555 1px solid;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

.list-group-name{
  vertical-align: middle;
  line-height: 30px;
}

#sidebar-wrapper a {
  color: rgba(255, 255, 255, 0.7)!important;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#landingNav, #page-content-wrapper{
  margin-left: 240px;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#landingNav.toggle, #page-content-wrapper.toggle {
  margin-left: 0px;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

@media (max-width: 768px){
  #landingNav, #page-content-wrapper{
    margin-left: 0px;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }
  
  #landingNav.toggle, #page-content-wrapper.toggle {
    margin-left: 240px;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }

}

.material-icons{
    vertical-align: middle;
    font-size: 24px;
}
